<% content_for :breadcrumbs do %>
  <li><%= link_to 'Inventory', project_inventory_path(@project) %></li>
  <li>Combos</li>
<% end %>

<% content_for :header do %>
  <h1>Inventory Combos</h1>
  <%= link_to '+', new_project_inventory_combo_path(@project) %>
<% end %>

<% content_for :content do %>
  <ul>
    <% @project.inventory_combos.each do |combo| %>
    <li>
      <%= link_to combo.name, project_inventory_combo_path(@project, combo) %>
      <%= link_to 'Edit', edit_project_inventory_combo_path(@project, combo) %>
      <%= link_to 'Delete', project_inventory_combo_path(@project, combo), method: 'delete' %>
    </li>
    <% end %>
  </ul>
<% end %>