<% content_for :breadcrumbs do %>
  <li><%= link_to 'Inventory', project_inventory_path(@project) %></li>
  <li><%= link_to 'Combos', project_inventory_combos_path(@project) %></li>
  <li><%= @combo.name %></li>
<% end %>

<% content_for :header do %>
  <h1><%= @combo.name %></h1>
  <%= link_to 'Edit', edit_project_inventory_combo_path(@project, @combo) %>
<% end %>

<% content_for :content do %>
  <ul>
    <% @combo.inventory_items.each do |item| %>
    <li><%= link_to item.slug, project_inventory_item_path(@project, item) %>
    <% end %>
  </ul>

  <p><%= link_to "Manage behaviors (#{@combo.behaviors.count})", behavioral_api(@combo) %></p>
<% end %>