<% content_for :breadcrumbs do %>
  <li><%= link_to 'Actors', project_actors_path(@project) %></li>
  <li><%= @actor.name %></li>
<% end %>

<% content_for :header do %>
  <h1><%= @actor.name %></h1>
  <%= link_to "Edit", edit_project_actor_path(@project, @actor) %>
<% end %>

<% content_for :content do %>
  <ul>
    <dt>Name</dt>
    <dd><%= @actor.name %></dd>
    <dt>Slug</dt>
    <dd><%= @actor.slug %></dd>
    <dt>Actor</dt>
    <dd><%= @actor.actor %></dd>
    <dt>Subtitle Color</dt>
    <dd><%= @actor.subtitle_color %></dd>
  </ul>

  <p><%= link_to "Manage behaviors (#{@actor.behaviors.count})", behavioral_api(@actor) %></p>
<% end %>