<% content_for :breadcrumbs do %>
  <li><%= link_to 'Inventory', project_inventory_path(@project) %></li>
  <li><%= link_to 'Items', project_inventory_items_path(@project) %></li>
  <li>Edit <%= @item.slug %></li>
<% end %>

<% content_for :header do %>
  <h1>Edit <%= @item.name %></h1>
<% end %>

<% content_for :content do %>
  <%= render partial: 'form' %>
<% end %>