<% content_for :breadcrumbs do %>
  <li><%= link_to 'Authors', users_path %></li>
  <li><%= @user.name %></li>
<% end %>

<% content_for :header do %>
  <h1><%= @user.name %></h1>
  <%= link_to 'Edit', edit_user_path(@user) if current_user?(@user) || admin_user? %>
<% end %>

<% content_for :content do %>
  <ul>
    <li>Name: <%= @user.name %></li>
    <li>Email: <%= @user.email %></li>
  </ul>
<% end %>