<% content_for :breadcrumbs do %>
  <li><%= link_to 'Project', projects_path %></li>
  <li><%= @project.name %></li>
<% end %>

<h1><%= @project.name %></h1>
<h2>Collaborators</h2>
<ul>
  <% @project.users.each do |user| %>
    <li><%= content_tag :b, user.name %> (<%= user.email %>)</li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_project_path(@project) %>