<% content_for :breadcrumbs do %>
  <li><%= link_to 'Inventory', project_inventory_path(@project) %></li>
  <li><%= link_to 'Lists', project_inventory_lists_path(@project) %></li>
  <li><%= @list.slug %></li>
<% end %>

<% content_for :header do %>
  <h1>Inventory List: <%= @list.slug %></h1>
  <%= link_to 'Edit', edit_project_inventory_list_path(@project, @list) %>
<% end %>

<% content_for :content do %>
  <ul>
    <li><%= @list.slug %></li>
  </ul>

  <h2>Items</h2>
  <ul>
    <% @list.inventory_items.each do |item| %>
      <li><%= content_tag :b, item.slug %></li>
    <% end %>
  </ul>
<% end %>