<% content_for :breadcrumbs do %>
  <% if @categories.any? %>
    <li>Assets</li>
  <% else %>
    <li><%= link_to 'Assets', project_assets_path(@project) %></li>
    <li><%= params[:category] %></li>
  <% end %>
<% end %>

<% content_for :header do %>
  <h1>Assets</h1>
  <%= link_to '+', new_project_asset_path(@project) %>
<% end %>

<% content_for :content do %>
  
  <% if @categories.any? %>
  <b>Asset Categories</b>
  <ul>
    <% @categories.each do |category| %>
    <li><%= link_to category, project_asset_category_path(@project, category) %></li>
    <% end %>
  </ul>

  <% else %>

  <b>Category: <%= params[:category] %></b>
  <ul>
    <% @assets.each do |asset| %>
    <li>
      <%= link_to asset.slug, project_asset_path(@project, asset) %>
      <%= link_to 'Edit', edit_project_asset_path(@project, asset) %>
      <%= link_to 'Delete', project_asset_path(@project, asset), method: 'delete' %>
    </li>
    <% end %>
  </ul>

  <% end %>
<% end %>