<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lassie</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if content_for?(:navbar) %>
  <ul class="navbar"><%= yield(:navbar) %></ul>
  <% end %>

  <div class="main">
    <% if content_for?(:breadcrumbs) %>
    <ul class="breadcrumbs"><%= yield(:breadcrumbs) %></ul>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>