<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lassie</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= yield(:body_class) if content_for?(:body_class) %>">

  <div class="navbar">
    <% if signed_in? %>
    <ul id="user-menu" class="user-menu">
      <li>Welcome <%= link_to current_user.name, current_user %></li>
      <li>
        <%= form_for :session, url: signout_path, method: 'delete' do |f| %>
          <%= f.submit 'Sign out', id: 'signout' %>
        <% end %>
      </li>
    </ul>
    <% end %>

    <% if content_for?(:navbar) %>
    <ul id="app-menu" class="app-menu" role="navigation">
      <%= yield(:navbar) %>
    </ul>
    <% end %>
  </div>

  <%= yield(:main) if content_for?(:main) %>
  <%= yield %>
  
</body>
</html>