<% content_for :main do %>
<div class="main" role="main">
  <% if content_for?(:breadcrumbs) %>
  <ul class="breadcrumbs"><%= yield(:breadcrumbs) %></ul>
  <% end %>

  <% if content_for?(:header) %>
  <div class="header"><%= yield(:header) %></div>
  <% end %>
  
  <div class="content">
    <% if flash.any? %>
    <ul class="flash">
      <% flash.each do |name, msg| %>
      <%= content_tag :li, msg, class: name %>
      <% end %>
    </ul>
    <% end %>

    <%= yield(:content) if content_for?(:content) %>
  </div>
</div>
<% end %>

<%= render template: "layouts/application" %>