<% content_for :navbar do %>
  <li class="back"><%= link_to 'Projects', projects_path %></li>
  <li>
    <%= link_to 'Setup', project_setup_path(@project), class: navbar_active_list(%(setup actors behavior_types)) %>
    <ul>
      <li><%= link_to 'Behavior Types', project_behavior_types_path(@project), class: navbar_active('behavior_types') %></li>
      <li><%= link_to 'Actors', project_actors_path(@project), class: navbar_active('actors') %></li>
    </ul>
  </li>
  <li>
    <%= link_to 'Inventory', project_inventory_path(@project), class: navbar_active_list(%(inventory inventory_lists inventory_items inventory_combos)) %>
    <ul>
      <li><%= link_to 'Lists', project_inventory_lists_path(@project), class: navbar_active('inventory_lists') %></li>
      <li><%= link_to 'Items', project_inventory_items_path(@project), class: navbar_active('inventory_items') %></li>
      <li><%= link_to 'Combos', project_inventory_combos_path(@project), class: navbar_active('inventory_combos') %></li>
    </ul>
  </li>
  <li><%= link_to 'Scenes', project_scenes_path(@project), class: navbar_active('scenes') %></li>
<% end %>

<%= render template: "layouts/editor" %>